{% extends "socialaccount/base.html" %}
{% load i18n %}

{% block content %}
    <div class="container mt-10 flex justify-center">
        <div class="card w-120 bg-base-120 shadow-md">
            <div class="card-header font-bold text-center">
                {% if process == "connect" %}
                    <h5>{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</h5>
                {% else %}
                    <h5>{% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}</h5>
                {% endif %}
            </div>
            <div class="card-body items-center">
                {% if process == "connect" %}
                    <p>{% blocktrans with provider.name as provider %}You are about to connect a new third party account from {{ provider }}.{% endblocktrans %}</p>
                {% else %}
                    <p>{% blocktrans with provider.name as provider %}You are about to sign in using a third party account from {{ provider }}.{% endblocktrans %}</p>
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary mt-3">{% trans "Continue" %}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
