{% extends "account/auth_base.html" %}

{% load i18n %}
{% block head_title %}
    {{ block.super }} - {% trans "Sign Out" %}
{% endblock head_title %}

{% block auth_content %}
    <div class="text-center text-2xl font-bold">{% trans "Sign Out" %}</div>
    <div class="text-center my-3">{% trans "Are you sure you want to sign out?" %}</div>

    <div class="my-5">
        <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />{% endif %}
            <button type="submit" class="btn btn-primary">{% trans "Sign Out" %}</button>
        </form>
    </div>
{% endblock auth_content %}
