{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block head_title %}
    {{ block.super }} - {% trans "Profile" %}
{% endblock head_title %}

{% block navbar_left %}
    {% include "_navbar.html" %}
{% endblock navbar_left %}

{% block extra_head_script %}
{% endblock extra_head_script %}

{% block content %}
    <div class="m-10 mt-5">
        <div class="profile-head flex flex-col md:flex-row p-8 md:space-y-0 md:space-x-8">
            <div>
                {% if user.profile.avatar %}
                    <img title="profile avatar" src="{{ MEDIA_URL }}{{ user.profile.avatar }}" alt="avatar" class="w-30">
                {% else %}
                    <img title="profile avatar" src="{% static '/site/img/profile/default.png' %}" alt="avatar" class="w-30">
                {% endif %}
            </div>
            <div>
                <div>
                    <div class="my-3">{{ user.get_username }}</div>
                </div>
                <div>
                    <div class="mt-5">
                        {% if editable %}
                            <a href="{% url 'profiles:edit_self' %}" class="btn btn-primary">{% trans "Edit Profile" %}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-5 flex flex-col space-y-5 md:flex-row md:space-y-0 md:space-x-8">
            <div class="card bg-base-100 card-md shadow-md md:min-w-100">
                <div class="bg-gray-400">
                    <h2 class="card-title ml-5 py-2">{% trans "Profile" %}</h2>
                </div>
                <div class="card-body">
                    <ul>
                        <li>
                            <span><strong>{% trans "Email" %}:</strong></span> {{ user.email|default:"missing" }}
                            {% if user.profile.email_verified %}
                                <span>{% trans "Email verified" %}</span>
                            {% else %}
                                <span>{% trans "Email not verified" %}</span>
                            {% endif %}
                        </li>
                        <div class="divider m-0"></div>
                        <li>
                            <strong>{% trans "Joined" %}:</strong> {{ user.date_joined }}
                        </li>
                        <div class="divider m-0"></div>
                        <li>
                            <strong>{% trans "Last seen" %}:</strong> {{ user.last_login }}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card w-full bg-base-100 card-md shadow-sm">
                <div class="bg-gray-100">
                    <div class="card-title ml-5 py-2">
                        {{ user.get_username }}'s {% trans "Profile" %}
                        {% if user.profile.slug %}
                            <a href="{% url 'profiles:show' user.profile.slug %}">
                                <span class="glyphicon glyphicon-link" aria-hidden="true" title="Profile permalink"></span>
                                <span class="sr-only">{% trans "Permalink" %}</span>
                            </a>
                            {{ user.profile.get_absolute_url }}
                        {% endif %}
                    </div>
                </div>
                <div class="card-body">
                    <strong>{% trans "Bio" %}:</strong>{{ user.profile.bio }}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}
