{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_title %}
  {{ block.super }} - {% trans "Profile" %}
{% endblock head_title %}

{% block navbar_left %}
  {% include "_navbar.html" %}
{% endblock navbar_left %}

{% block content %}
  <div class="m-10 mt-5">
    <div class="text-2xl font-bold">{% trans "Edit Profile" %}</div>
    <div class="divider my-5"></div>
    <div class="mt-5 flex flex-col space-y-5 md:flex-row md:space-y-0 md:space-x-8">
      <div class="w-30 mb-5">
        {% if user.profile.avatar %}
          <img title="profile avatar" src="{{ MEDIA_URL }}{{ user.profile.avatar }}" alt="avatar" />
        {% else %}
          <img src="{% static 'site/img/profile/default.png' %}" alt="avatar" />
        {% endif %}
      </div>
      <div>
        <div class="font-bold mb-3">{% trans "Personal Information" %}</div>
        <form enctype="multipart/form-data" method="post">
          {% csrf_token %}
          {% crispy user_form %}
          {% crispy profile_form %}
        </form>
        <div class="mt-5">
          <a class="btn btn-primary float-end" href="{% url 'account_reset_password' %}">{% trans "Change Password" %}</a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}
