{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block head_title %}
    {{ block.super }} - {% trans "Profile" %}
{% endblock head_title %}

{% block navbar_left %}
    {% include "_navbar.html" %}
{% endblock navbar_left %}

{% block extra_head_script %}
{% endblock extra_head_script %}

{% block content %}
    <div class="m-10 mt-5">
        <div class="profile-head flex flex-row">
            <div class="basis-xs">
                <div class="row ml-1">
                    {% if user.profile.avatar %}
                        <img title="profile avatar" src="{{ MEDIA_URL }}{{ user.profile.avatar }}" alt="avatar" class="w-20">
                    {% else %}
                        <img title="profile avatar" src="{% static '/site/img/profile/default.png' %}" alt="avatar" class="w-20">
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-10">
                <div class="row">
                    <div class="mt-3">{{ user.get_username }}</div>
                </div>
                <div class="row">
                    <div class="mt-5">
                        {% if editable %}
                            <a href="{% url 'profiles:edit_self' %}" class="btn btn-primary">{% trans "Edit Profile" %}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}
